[submodule "lib/event-log"]
	path = lib/event-log
	url = git@github.com:rbxinfra/event-log.git
[submodule "lib/hashing"]
	path = lib/hashing
	url = git@github.com:rbxinfra/hashing-core.git
[submodule "lib/sentinels"]
	path = lib/sentinels
	url = git@github.com:rbxinfra/sentinels-core.git
[submodule "lib/pipeline"]
	path = lib/pipeline
	url = git@github.com:rbxinfra/pipeline-core.git
[submodule "lib/application-context"]
	path = lib/application-context
	url = git@github.com:rbxinfra/application-context-core.git
[submodule "lib/request-context"]
	path = lib/request-context
	url = git@github.com:rbxinfra/request-context-core.git
[submodule "lib/threading"]
	path = lib/threading
	url = git@github.com:rbxinfra/threading-core.git
[submodule "lib/telemetry"]
	path = lib/telemetry
	url = git@github.com:rbxinfra/telemetry-core.git
[submodule "lib/operations"]
	path = lib/operations
	url = git@github.com:rbxinfra/operations-core.git
[submodule "lib/time"]
	path = lib/time
	url = git@github.com:rbxinfra/time-core.git
[submodule "lib/random"]
	path = lib/random
	url = git@github.com:rbxinfra/random-core.git
[submodule "lib/common"]
	path = lib/common
	url = git@github.com:rbxinfra/common-legacy.git
[submodule "lib/translation-resources"]
	path = lib/translation-resources
	url = git@github.com:rbxinfra/translation-resources.git
[submodule "lib/serialization"]
	path = lib/serialization
	url = git@github.com:rbxinfra/serialization-core.git
[submodule "lib/vault"]
	path = lib/vault
	url = git@github.com:rbxinfra/vault-core.git
[submodule "lib/configuration"]
	path = lib/configuration
	url = git@github.com:rbxinfra/configuration-core.git
[submodule "lib/service-discovery"]
	path = lib/service-discovery
	url = git@github.com:rbxinfra/service-discovery-core.git
[submodule "lib/redis"]
	path = lib/redis
	url = git@github.com:rbxinfra/redis-core.git
[submodule "lib/instrumentation"]
	path = lib/instrumentation
	url = git@github.com:rbxinfra/instrumentation-core.git
[submodule "lib/caching"]
	path = lib/caching
	url = git@github.com:rbxinfra/caching-core.git
[submodule "lib/data"]
	path = lib/data
	url = git@github.com:rbxinfra/data-core.git
[submodule "lib/mssql"]
	path = lib/mssql
	url = git@github.com:rbxinfra/mssql-core.git
[submodule "lib/networking"]
	path = lib/networking
	url = git@github.com:rbxinfra/networking-core.git
[submodule "lib/entities"]
	path = lib/entities
	url = git@github.com:rbxinfra/entities-core.git
[submodule "lib/collections"]
	path = lib/collections
	url = git@github.com:rbxinfra/collections-core.git
